.box {
    .p {
        width : 400px;
        height : 300px;
        .a {
            width: 200px;
            height: 22px;
        }
    }
    .gg {
        width : 330px;
        height : 2px;
        .ggggg {
            width : 3px;
            height: 3px
        }
    }
}