@import './public';

.classify .fl ul{
    display: block;
}
// 轮播图
.slide{
    height: 400px;
    .center{
        @include size(750px,100%, right);
        background: skyblue;
        ul,ol,li{
            padding: 0;
            margin: 0;
            list-style: none;
        }
        .container{
            width: 100%;
            height: 100%;
            // margin: 50px auto;
            position: relative;
        }
        #msg{
            width: 100%;
            height: 40px;
            line-height: 40px;
            text-indent: 10px;
            position: absolute;
            bottom: 0px;
            left: 0;
            color: white;
            font-size: 16px;
            // background: rgba(0,0,0,.8);
            cursor: pointer;
            z-index: 1;
        }
        ul li a {
            display: block;
        }
        img{
            width: 100%;
            height: 100%;
        }
        ol{
            position: absolute;
            bottom: 10px;
            right: 300px;
            -webkit-transform: translateX(-50%);
            border-radius: 7px;
            padding: 3px;
            z-index: 2;
        }
        ol li{
            background:gray;
            float: left;
            width: 15px;
            height: 15px;
            margin-left: 5px;
            border-radius: 50%;
            // -webkit-border-radius: 4px;
            // -moz-border-radius: 4px;
            margin-right: 7px;
        }
        span{
            width: 30px;
            height: 60px;
            line-height: 60px;
            font-size: 40px;
            color: white;
            background: rgba(255,255,255,.3);
            cursor: pointer;
            position: absolute;
            font-weight: bold;
            top: 38%;
            left: 0;
            -webkit-transform: translateY(-50%);
            -moz-transform:translateY(-50%);
            -webkit-transition: all 1s ease 0s
        }
        #rtBtn{
            right: 0;
            left: auto;
        }
        span:hover{
            -webkit-transform: rotateY(40deg) translateX(-3px) scale(1.2);
        }
    }
    .right{
        @include size(260px,100%,right);
        // background: red;
        .t1 div:nth-child(1){
            border-right: 1px solid #DCDCDC	;
            border-bottom: 1px solid #DCDCDC;
            display: flex;
            justify-content: space-between;
            height: 37px;
            line-height: 37px;
            & p:nth-child(1){
                text-indent: 10px;
            }
            & p:nth-child(2){
                color: #e72418;
                font-weight: 700;
                font-family: Arial;
                font-size: 18px;
                background: url(../img/dh.gif) no-repeat 0px 9px;
                padding-left: 23px;
                margin-right: 10px;
            }
        }
        .t1 div:nth-child(2){
            border-right: 1px solid #DCDCDC	;
            border-bottom: 1px solid #DCDCDC;
            padding-bottom:10px ;
            padding-top: 18px;
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            a{
                width: 64px;
                line-height: 30px;
                text-align: center;
                color: #5e5e5e;
                em{
                    display: block;
                    color: #0083ce;
                    width: 35px;
                    height: 35px;
                    display: block;
                    margin: 0 auto;
                    background: url(../img/icon_gonggao.png) no-repeat -5px 0px;
                }
                span{
                    font-size: 12px;
                }
            }
        }
        .b1 div:nth-child(1){
            border-right: 1px solid #DCDCDC	;
            border-bottom: 1px solid #DCDCDC;
            display: flex;
            justify-content: space-between;
            color: #333;
            font-family: "微软雅黑";
            font-weight: normal;
            font-size: 16px;
            line-height: 36px;
            padding: 0px 0 0 10px;
            & a{
                font-size: 12px;
                color: red;
            }
            margin-bottom:6px ;
        }
        ul{
            padding-bottom: 2px;
            border-right: 1px solid #DCDCDC	;
            border-bottom: 1px solid #DCDCDC;
        }
        .b1 ul li{
            height: 25px;
            line-height: 25px;
            a {
                color: #666;
                font-size: 12px;
                padding-left: 22px;
                background: url(../img/dian.png) no-repeat 10px center;
            }
            & a:hover{
                color: #0083ce;
            }
        }
    } 
}
//限购
.xg{
    height: 150px;
    margin: 10px auto;
    display: flex;
    flex-direction: row;

    p{
        width: 180px;
        height: 150px;
        img{
            width: 100%;
            height: 100%;
        }
    }
    div{
        display: flex;
        // justify-content: space-between;
        a{
            display: block;
            width: 250px;
            height: 150px;
            margin-left: 3px;
            position: relative;
            span{
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background:white;
                opacity: 0;
                display: block;
            }
            & span:hover{
                opacity: .3;
            }
        }
    }
}
// 热卖
.rm{
    border-top: 2px solid #fc4e4d;
    margin-top: 30px;
    height:  404px;
    margin-bottom: 30px;
    display: flex;
    .left{
        width: 180px;
        height: 100%;
        & p:nth-child(1){
            color: #fff;
            background: #fc4e4d;
            text-align: center;
            height: 85px;
            line-height: 85px;
            font-size: 20px;
        }
        a{
            display: block;
            width: 180px;
            height: 319px;
            img{
                width: 180px;
                height: 319px;
            }
        }
    }
    .right{
        width: 1110px;
        height: 100%;
        ul{
            display: flex;
            flex-wrap: wrap;
            li{
                width: 202px;
                box-sizing: border-box;
                border-right: 1px solid #f3f3f3;
                border-bottom: 1px solid #f3f3f3;
                height: 202px;
                text-align: center;
                a{
                    // width: 202px;
                    // height: 201px;
                    // box-sizing: border-box;    
                    // text-align: center; 
                    img{
                        display: block;
                        width: 130px;
                        height: 130px;
                        margin: 0 auto;
                        padding-top: 15px;
                    }             
                    p{
                        font-size:12px;
                        color: #5e5e5e; 
                        margin: 5px auto;
                        height: 20px;
                        line-height: 20px;
                    }
                    & p:hover{
                        color: #0083ce;
                    }
                    h6{
                        color: #E72418;
                    }

                }
            }
        }
    }
}
// 广告
.gg{
    height: 99px;
    margin-bottom:30px ;
    background: pink;
    a{
        display: block;
    }
}
// 推荐
.tj{
    border-top: 2px solid #fbbc05;
    & .tj1 p:nth-child(1){
        background: #fbbc05;
    }
}