@import './public';
#header{
    @include size(100%,36px,0);
    background: #f8f8f8;
    .header{
        margin: 0 auto;
        @include size(1190px,36px,0);
        @include font(12px,36px,0);
        background:pink;
        .hello{
            float: left;
            a{
                color: red;
            }
        }
        .right{
            float: right;
            a:hover{
                color:#0563C3;
            }
            a{
                @include font(12px,36px,#5e5e5e);
                display: block;
                float: left;
            }
            & a:nth-child(1){
                @include size(70px,100%,0);
                background: url(../img/bg.png) no-repeat right center;
                text-align: center;
            }
            & a:nth-child(2){
                @include size(90px,100%,0);
                box-sizing: border-box;
                background: url(../img/qian.png) no-repeat 70px 16px;
                padding-left: 10px;

            }
            & a:nth-child(3){
                @include size(70px,100%,0);
                box-sizing: border-box;
                background: url(../img/bg.png) no-repeat right center;
                text-align: left;
                border-left:solid red 1px;
            }
             & a:nth-child(4){
                color:blue;
                font-weight: 700;
                background:url(../img/dh.gif) no-repeat left center;
                padding-left: 20px;
            }
            & a:nth-child(5){
                background: url(../img/phone.png) no-repeat left center;
                padding-left: 16px;
            }
            & a:nth-child(6){
                background: url(../img/sc.png) no-repeat left center;
                padding-left: 26px;
                // width: 100px;
            }
        }
    }
}