@import './public';

// 商品列表
    .list{
        .index{
            padding-left: 23px;
            height: 45px;
            line-height: 45px;
            color: #333;
            align-self: start;
            font-size: 13px;
            a{
                color:#333;;
            }
            a:hover{
                color: #0083ce;
            }
        }
    .list1{
        display: flex;
        justify-content: space-between;
        .left{
            width: 180px;
            height: 100%;
                & p:nth-child(1) a{
                background: #ddd;
                height: 35px;
                line-height: 35px;
                display: block;
                font-size: 14px;
                font-weight: bold;
                padding-left: 10px;
                color: #5e5e5e;
                border: 1px solid #dbdbdb;
                border-bottom:none;

                }
                & p:nth-child(1) a:hover{
                    color: #0083ce;
                }
                .sj{
                    background: #f5f5f5;
                    height: 36px;
                    width: 178px;
                    border: 1px solid #dbdbdb;
                    color: #c00;
                    font-size: 12px;
                    font-weight: bold;
                    line-height: 36px;
                    margin-bottom: 15px;
                }
            .hw{
                width: 178px;
                height: 1191px;
                border: 1px solid #dbdbdb;
                h3{
                    height: 35px;
                    line-height: 35px;
                    font-size: 12px;
                    font-weight: bold;
                    padding-left: 10px;
                    border-bottom: 1px solid #dbdbdb;
                }
                div{
                    width: 178px;
                    height: 218px;
                    a{
                        display: block;
                        text-align: center;
                        margin-top: 13px;
                        img{
                            margin: 0 auto;
                        }
                        p{
                            width: 150px;
                            margin: 5px auto;
                            height: 36px;
                            line-height: 18px;
                            font-size: 12px;
                            overflow: hidden;
                            color: #5e5e5e;
                        }
                    }
                    h4{
                        height: 22px;
                        line-height: 22px;
                        text-align: center;
                        span{
                            font-weight: bold;
                            font-size: 13px;
                            font-family: verdana;
                            padding-right: 10px;
                            color: red;
                        }
                        i{
                            color: #666;
                            font-size: 12px;
                        }
                    }
                }
                div a:hover p{
                    color: #0083ce;
                }
            }
            h5 p:nth-child(1){
                margin-top: 15px;
                height: 35px;
                line-height: 35px;
                font-size: 14px;
                font-weight: bold;
                padding-left: 10px;
                border: 1px solid #dbdbdb;
            }
            h5 p:nth-child(2){
                height: 28px;
                line-height: 28px;
                padding-left: 10px;
                border: 1px solid #dbdbdb;
                a{
                    font-size: 12px;
                    color: #666; 
                }
                a:hover{
                    color: #0083ce;
                }
            }
        }
        .right{
            width:998px;
            min-height:1000px;
            .sx{
                margin-bottom: 20px;
                box-sizing: border-box;
                width: 100%;
                border: 1px solid #dbdbdb;
                .p1{
                    display: flex;
                    color: #666;
                    justify-content: space-between;
                    height: 36px;
                    line-height: 36px;
                    background: #DDDDDD;
                    padding: 0 10px;
                    font-size: 14px;
                    i{
                        font-weight: bold;
                    }
                    span{
                        font-size: 12px;
                        color: #D62528;
                        font-weight: bold;
                    }
                    a{
                        color: #666;
                        font-size: 12px;
                    }
                    & a:hover{
                        color: #0083ce;
                    }
                }
                .p2{
                    box-sizing: border-box;
                    height: 32px;
                    padding: 6px 10px 3px;
                    background-color: #F3F3F3;
                    font-size: 14px;
                    color: #666;
                }
                .p3{
                    color: #5e5e5e;
                    font-size: 14px;
                    box-sizing: border-box;
                    padding: 10px 10px 5px; 
                    p{
                        height: 31px;
                        line-height: 31px;
                        a{
                            margin: 0 10px;
                            color: #5e5e5e;
                        }
                        & a:nth-child(1){
                            display: inline-block;
                            width: 34px;
                            height: 22px;
                            text-align: center;
                            line-height: 22px;
                            background: #D62528;
                            color: white;
                        }
                    }
                }
                & p:nth-child(1){
                    border-bottom: 1px dashed #dbdbdb;
                    padding-left: 30px;
                }   
            }
            .sx2{
                height: 70px;
                color: #5e5e5e;
                color: 14px;
                box-sizing: border-box;
                border: 1px solid #dbdbdb;
                margin-bottom: 20px;
                & div:nth-child(1){
                    display: flex;
                    background-color: #F3F3F3;
                    // background: skyblue;
                    justify-content: space-between;
                    height: 43px;
                    line-height: 43px;
                    padding-left: 10px;
                    input{
                        color: #5e5e5e;
                        margin-right: 5px;
                        width: 44px;
                        height: 25px;
                    }
                    & input:nth-child(1){
                        color: #D62528;
                    }
                    select{
                        color: #5e5e5e;
                        margin-right: 5px;
                        width: 117px;
                        height: 25px;
                    }
                    .red{
                        font-size: 14px;
                        background: url(../img/red.png)no-repeat left center;
                        background-size: 16px;
                        padding-left: 18px;
                        margin-right: 10px;
                        color: #5e5e5e;
                    }
                    .gray{
                        font-size: 14px;
                        background: url(../img/gray.png)no-repeat left center;
                        background-size: 16px;
                        padding-left: 18px;
                        color: #5e5e5e;
                    }
                    .r1{
                        font-size: 12px;
                        span{
                            display: inline-block;
                            vertical-align: middle;
                        }
                        a{
                            display: inline-block;
                            width: 23px;
                            height: 23px;
                            border: 1px solid #dbdbdb;
                            vertical-align: middle;
                        }
                        .q{
                            background:url(../img/l1.png) no-repeat center;
                            background-size: 15px;
                        }
                        .s{
                            background:url(../img/ls.png) no-repeat center;
                            background-size: 11px;
                            margin-right: 10px;
                        }
                    }
                }
                & div:nth-child(2){
                    font-size: 14px;
                    padding-left:11px;
                    line-height: 27px;
                    & span:nth-child(1){
                        margin-right: 10px;
                    }
                    span{
                        margin-right: 8px;
                        input{
                            vertical-align: middle;
                            margin-right: 5px;
                        }
                    }
                }
            }
            .zd{
                ul{
                    display: flex;
                    flex-wrap: wrap;
                    li{
                        width: 249px;
                        // height: 345px;
                        border-bottom: 1px dotted #dbdbdb;
                        box-sizing: border-box;
                        padding: 15px 10px;
                        text-align: center;
                        img{
                            margin: 0 auto 10px;
                        }
                        p{
                            color: #5e5e5e;
                            font-size: 13px;
                            margin-bottom: 20px;
                        }
                        & p:hover{
                            color: #0083ce;
                        }
                        h6{
                            height: 20px;
                            color: red;
                            font-weight: bold;
                            font-size: 14px;
                        }
                        h5{
                            height: 40px;
                            margin-bottom: 10px;
                            margin-top: 5px;
                            span{
                                vertical-align: top;
                                .a{
                                    display: inline-block;
                                    width: 24px;
                                    height: 25px;
                                    text-align: center;
                                    border: 1px solid gray;
                                    background: white;
                                }
                                & .a:hover{
                                    background: gray;
                                    color: white;
                                }
                                .input{
                                    width: 30px;
                                    height: 23px;
                                    text-align: center;
                                    border: 1px solid gray;
                                    border-left: none;
                                    border-right: none;
                                }
                            }
                            .cart{
                                vertical-align: top;
                                display: inline-block;
                                width: 92px;
                                height: 25px;
                                text-align: center;
                                line-height: 25px;
                                background: #fc5910;
                                color: white;
                                font-size: 13px;
                                margin-left: 8px;
                            }
                            & .cart:hover{
                                background: #fc3410;
                            }
                        }
                        h4{ 
                            text-align: center;
                            a{
                                display: inline-block;
                                width: 46px;
                                height: 25px;
                                @include font(14px,25px,#5e5e5e);
                                background: #F5F5F5;
                                border: 1px solid #dbdbdb;
                                margin:0 10px;
                                font-size: 14px;
                            }
                            & a:hover{
                                background: #DCDCDC;
                            }
                        }
                    }
                }
            }
            .hy{
                margin: 10px 0;
                text-align: right;
                // line-height: 20px;
                height: 23px;
                font-size: 12px;
                letter-spacing: -3px;
                input{
                    border: 1px solid #dbdbdb;
                    height: 23px;                   
                    color: #5e5e5e;
                    margin-left: 3px;
                }
                & input:nth-child(1){
                    width: 25px;
                    color:#D3D3D3;
                    pointer-events:none;
                }
                & input:nth-child(2){
                    width: 24px;
                    color:white;
                    background: gray;
                }
                & input:nth-child(3){
                    width: 24px;
                }
                & input:nth-child(4){
                    width: 25px;
                }
                & input:hover{
                    color:white;
                    background: gray;
                }
            }
        }
    }
}


