@import './public';

// 登录页
.login{
    margin-top: 10px;
    height: 427px;
    background: url(../img/lg.jpg)no-repeat left -80px;
    .lg{
        width: 360px;
        float: right;
        height: 360px;
        border: 2px solid #DCDCDC;
        // background:red;
        h3{
            font-weight: 400;
            font-size: 24px;
            line-height: 44px;
            color: #1566C0;
            border-bottom: 1px solid #CCCCCC;
            padding-left: 20px; 
        }
        p{
            position: relative;
        }
        i{
            color: red;
            display: none;
            position: absolute;
            top:32px ;
            font-size: 12px;
        }
        div p:nth-child(1){
            padding-left: 20px;
            margin-top: 20px;
            height: 60px;
            input{
                text-indent: 2px;
                height: 26px;
                width: 284px;
            }
        }
        div p:nth-child(2){
            padding-left: 20px;
            height: 60px;
            input{
                text-indent: 2px;
                height: 26px;
                width: 284px;
            }
        }
        div p:nth-child(3){
            padding-left: 20px;
            height: 51px;
            line-height: 32px;
            color: #666;
            margin-bottom: 20px;
            span{
                margin-right: 15px;
            }
        }
        div p:nth-child(4){
            padding-left: 20px;
            height: 60px;
            line-height: 37px;
            input{
                width: 80px;
                height: 37px;
                background: #e8520e;
                border: none;
                font-size: 14px;
                color: white;
                text-align-last:justify;
                padding: 0 15px;
                margin-right: 5px;
                cursor: pointer;
                
            }
            a{
                color: #666;
                font-size: 14px;
            }
        }
        .hy{
            // line-height: 45px;
            padding-left: 15px;
            padding-right: 20px;
            height: 45px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            & a:nth-child(1){

                color:#E73E31;
                font-size: 14px;
            }
            & a:nth-child(2){
                box-sizing: border-box;
                @include font(12px,24px,#333333);
                width: 70px;
                height: 24px;
                text-align: center;
                background: #fefefe;
                border: 1px solid #DCDCDC;
            }
            & a:nth-child(2):hover{
                background: #f3f3f3;
                color: #0563C3;
            }
        }   
    }
}






