@import './public';

// 注册
.registor{
    margin-bottom: 20px;
    height: 714px;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    .zc{
        width: 626px;
        height: 100%;
        // background:skyblue;
        border: 2px solid #CCCCCC;
        h2{
            font-weight: 400;   
            font-size: 24px;
            line-height: 44px;
            color: #1566C0;
            border-bottom: 1px solid #CCCCCC;
            margin-bottom: 20px;
            padding-left: 20px;
        }
        div{
            color: #5e5e5e; 
            p{
                height: 51px;
                margin-bottom: 20px;
                em{
                    color: red;
                }
                i{
                    color: red;
                    font-size: 14px;
                    display: none;
                }
                span{
                    display: inline-block;
                    width: 145px;
                    height: 32px;
                    text-align: right;
                    margin-right: 10px;
                }
                input{
                    width: 300px;
                    height: 30px;
                    box-sizing: border-box;
                    padding-left: 5px;
                }
            }
            .yzm input{
                width: 90px;
                height: 30px;
                margin-right: 8px;
            }
            .yzm a{
                width: 130px;
                height: 30px;
                display: inline-block;
                background: orange ;
                text-align: center;
                @include font(14px,30px,#fff);
            }
            .yzm a:hover{
                background:#f89416;
            }
            .gou{
                text-align: center;
                line-height: 51px;
                font-size: 14px;
                input{
                    height: 34px;
                    width: 12px;
                    vertical-align: middle;
                    margin-right: 8px;
                }
                a{
                    vertical-align: middle;
                    font-size: 14px;
                    color: #0563C3;
                    display: inline-block;
                    margin-top: -4px;
                }
            }
            .button{
                input{
                    cursor: pointer;
                    width: 80px;
                    height: 36px;
                    margin-left: 157px;
                    border: none;
                    color: white;
                    background: #fc570e;
                }
                input:hover{
                    background: #fc0e0e;
                }
            }
        }
    }
    .dl{
        width: 536px;
        height: 100%;
        border-left: 1px dotted #CCCCCC;
        p{
            height: 42px;
            line-height: 42px;
            font-size: 14px;
            color: #5e5e5e;
            padding-top: 40px;
            padding-left: 25px;
            a{
                display: inline-block;
                width: 142px;
                height: 42px;
                background: #ca1823;
                text-align: center;
                font-size: 16px;
                color: white;
            }
            a:hover{
                background: #fc0e0e;
            }
        }
    }
}




